services:
  indicocr:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: indicocr
    ports:
      - "8111:8111"
    volumes:
      - ${OCR_OUTPUT_BASE}:${OCR_OUTPUT_BASE}
      - ${OCR_INPUT_BASE}:${OCR_INPUT_BASE}
    environment:
      - OCR_OUTPUT_BASE=${OCR_OUTPUT_BASE}
